*{
    padding: 0;
    margin: 0;
}

.navBar{
display: flex;
}

.logoSection{
    display: flex;
}

.logoSection p{
    margin-top: 1.5em;
    font-style: italic;
    font-size: 1.2em;
    font-weight: bold;
}

.logo{
    width: 5em;
    height: 5em;
}

ul{
    list-style: none;
    display: flex;
    margin: 1.5em 20em;
}

li{
    margin: 0 1.5em;
    font-size: 1.2em;
}

.BR{
    border: 0.1em solid #f7dc6f;
    padding: 0.5em;
    border-radius: 1em;
    font-weight: bold;
}