*{
    padding: 0;
    margin: 0;
}

.navBar{
display: flex;
background-color: #f7dc6f;
}

.logoSection{
    display: flex;
}

.logoSection p{
    margin-right: 1em;
    margin-top: 1.5em;
    font-style: italic;
    font-size: 1.2em;
    font-weight: bold;
}

.logo{
    width: 5em;
    height: 5em;
}

ul{
    list-style: none;
    display: flex;
    margin: 1.5em 20em;
}

li{
    margin: 0 1.5em;
    font-size: 1.2em;
}

.BR{
    color: #1b4f72;
    font-weight: bold;
}

.bookInfo{
    display: flex;
    background: linear-gradient(0deg, rgba(27,79,114,1) 0%, rgba(247,220,111,1) 100%);
    padding: 0.5em;
}

.bookImage{
    width: 50%;
}

.info{
    width: 50%;
}

.info p{
    font-size: 1.3em;
    line-height: 1.2em;
    width: 70%;
}

.book{
    width: 25em;
    height: 35em;
    padding-left: 20em;
}

.title{
    font-size: 1.5em;
}

.book2{
    width: 8em;
    height: 8em;
}

.checked{
    color: #f7dc6f;
}

/* #f7dc6f */
/* #f8c471 */
/* #1b4f72 */
/* #17a589 */
/* #196f3d */